## 1. Python Output

#### Python is a Case Sensitive language

In [1]:
print('Hello World')

Hello World

In [2]:
print('salman khan')

salman khan

In [3]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1115953987.py, line 1)

In [4]:
print(7)

7

In [5]:
print(1.3)

1.3

In [6]:
print(True)

True

In [7]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [8]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello',end='-')
print('world')

hello-world

## 2. Data Types

### 1) Integer

In [13]:
print(8)
### 1*10^308
print(1e308)
print(1e309)

8
1e+308
inf

### 2) Float / Decimal

In [14]:
print(8.55)
## print(1.7e308)
print(1.7e308)
print(1.7e309)

8.55
1.7e+308
inf

### 3) Boolean

In [16]:
print(True)
print(False)

True
False

### 4) String / Text

In [17]:
print('Hello World')

Hello World

### 5) Complex Number

In [18]:
print(5+6j) 
# 5 is Real number and 6j is Imaginary number

(5+6j)

### 6) List

In [19]:
# List -> Java -> Array
print([1,2,3,4])

[1, 2, 3, 4]

### 7) Tuple

In [20]:
print((1,2,3,4))

(1, 2, 3, 4)

### 8) Sets

In [21]:
print({1,2,3,4})

{1, 2, 3, 4}

### 9) Dictionary

In [22]:
print({'name':'Yash','gender':'Male','weight':70})

{'name': 'Yash', 'gender': 'Male', 'weight': 70}

## types()

In [23]:
type(3)

int

In [24]:
type(2.3)

float

In [25]:
type('hello')

str

In [26]:
type(5+6j)

complex

## 3. Variables

 Variables are the containers for future use

## C/C++
int name = 'yash'

print(name)

## Python
name = 'yash'

print(name)

In [28]:
name = 'yash'
print(name)

a = 5
b = 6

print(a + b)

yash
11

### Dynamic typing VS Static typing

#### Dynamic Typing (Python)
a = 5
#### Static Typing (C/C++,Java)
int a = 5;

### Dynamic Binding vs Static Binding

#### Dynamic binding (Python)

In [29]:
a = 5
print(a)
a = 'yash'
print(a)

5
yash

#### Static Binding (C/C++, Java)

int a = 5;
in static binding, we can't store another data type

### Types to store multiple variables

In [30]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [31]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [35]:
a=b=c=5
print(a,b,c)

5 5 5

## 4. Keywords & Identifiers

#### Compilation 
is a process where convert a code to Binary language(0,1)
Java
#### Interpretation
is a process where convert a code to Binary language line by line
Python, Javascript

### Keywords

Keywords are the unique reserved words that cannot use as a variable
In Python have 32 Keywords

### Identifiers

1) Can't start with a digit
1name = 'yash'

name1 = 'yash'
print(name1)

2) Can use special characters -> _,$

$ = 'yash'

3) Identifiers cannot be keywords

## 5. User Input

In [2]:
input('Enter your name')

Enter your nameYash Garg

'Yash Garg'

In [21]:
# take input from users and store them in a variable
fnum = input('Enter first number ')
snum = input('Enter second number ')
# Add the two variables
result = int(fnum) + int(snum)
# print the result
print(result)

Enter first number 56
Enter second number 24
80

## 6. Type Conversion

### 1) Implicit Type conversion

In [6]:
print(5 + 5.6)
print(type(5), type(5.6))

10.6
<class 'int'> <class 'float'>

In [7]:
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 2) Explicit type Conversion

#### convert to int

In [10]:
int('4')

4

In [11]:
type(int('4'))

int

In [12]:
int(4.5)

4

In [13]:
type(int(4.5))

int

In [14]:
int(4+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

#### Convert to str

In [16]:
str(5)

'5'

In [17]:
str(5.0)

'5.0'

In [20]:
str(4+5j)

'(4+5j)'

#### Convert to float

In [19]:
float(4)

4.0

## 7. Literals

### Decimal Literals

In [26]:
a = 100
print(a)

100

### Binary Literals

In [27]:
b = 0b1010
print(b)

10

### Octal Literals

In [28]:
c = 0o310
print(c)

200

### Hexadecimal Literals

In [29]:
d = 0x12c
print(d)

300

### Float Literals

In [30]:
float_1 = 10.5
float_1

10.5

In [34]:
float_2 = 1.5e2  # 1.5 * 10^2
float_3 = 1.5e3  # 1.5 * 10^3
print(float_2)
print(float_3)

150.0
1500.0

In [35]:
float_4 = 1.5e-3  # 1.5 * 10^-3
print(float_4)

0.0015

### Complex Literals

In [37]:
x = 3.14j
x

3.14j

In [38]:
print(x.real)
print(x.imag)

0.0
3.14

## -------------------------------------

In [39]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [40]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [41]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# Task 1
## Print the given strings as per stated format.
### Given strings:

#### "Python" "Programming" "Language"
#### "By" "Yash"
### Output:

#### Python-Programming-Language-started-By-Yash

In [22]:
print("Python","Programming","Language",sep='-',end='-started-')
print("By","Yash",sep='-')

Python-Programming-Language-started-By-Yash

# Task 2
## Write a program that will convert celsius value to fahrenheit.

In [7]:
celsius = float(input('Enter the temp in celsius = '))
fahrenheit = (celsius * 9/5) + 32
print('fahrenheit :',fahrenheit)

Enter the temp in celsius = 32
fahrenheit : 89.6

# Task 3
## Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [8]:
a = int(input('Enter a = '))
b = int(input('Enter b = '))

temp = a
a = b
b = temp

print('a :',a)
print('b :',b)

Enter a = 3
Enter b = 5
a : 5
b : 3

# Task 4
## Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [9]:
x1 = int(input('Enter x cord of 1st point = '))
y1 = int(input('Enter y cord of 1st point = '))
x2 = int(input('Enter x cord of 2nd point = '))
y2 = int(input('Enter y cord of 2nd point = '))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print('distance :',round(distance,2))

Enter x cord of 1st point = 3
Enter y cord of 1st point = 4
Enter x cord of 2nd point = 7
Enter y cord of 2nd point = 5
distance : 4.12

# Task 5
## Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [3]:
p = int(input('Enter amount = '))
r = float(input('Enter rate = '))
t = int(input('Enter time period = '))

si = (p*r*t)/100

print('The Interest is :',si)

Enter amount = 10000
Enter rate = 10
Enter time period = 2
The Interest is : 2000.0

# Task 6
## Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [12]:
n = int(input('Enter n natural number = '))

result = (n*(n+1)*(2*n+1))/6
print('Sum of the sq. of natural numbers :',result)

Enter n natural number = 5
Sum of the sq. of natural numbers : 55.0

# Task 7
## Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
# a + (n-1)d

first_term = int(input('Enter 1st term = '))
second_term = int(input('Enter 2nd term = '))
n = int(input('Enter n = '))

d = second_term - first_term

nth_term = first_term + (n-1)*d
print('nth_tem :',nth_term)

Enter 1st term = 3
Enter 2nd term = 5
Enter n = 6
nth_tem : 13

# Task 8
## Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [20]:
n1 = int(input('num1 = '))
d1 = int(input('deno1 = '))
n2 = int(input('num2 = '))
d2 = int(input('deno2 = '))

result_num = n1*d2 + n2*d1
result_deno = d1*d2

print('{}/{}'.format(result_num,result_deno))

num1 = 3
deno1 = 7
num2 = 2
deno2 = 11
47/77

# Task 9
## Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

In [21]:
# Volume of Cuboid = l*b*h
# Volume of Cylinder = 3.14*r^2*h

import math

h_t = float(input('height of tank = '))
b_t = float(input('breadth of tank = '))
l_t = float(input('length of tank = '))

h_g = float(input('height of glass = '))
r_g = float(input('radius of glass = '))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g**2*h_g

print('no of glasses :',math.floor(vol_tank/vol_glass))

height of tank = 10
breadth of tank = 19
length of tank = 10
height of glass = 5
radius of glass = 2
no of glasses : 30