Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

In [3]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [2]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

### Indexing

In [4]:
# Positive Indexing
s = 'hello world'
print(s[2])
print(s[40])

l

IndexError: string index out of range

In [5]:
# Negative Indexing
s = 'hello world'
print(s[-1])
print(s[-20])

d

IndexError: string index out of range

### Slicing

In [6]:
s = 'hello world'
print(s[0:5])

hello

In [9]:
print(s[2:])
print(s[:3])
print(s[:])

llo world
hel
hello world

In [10]:
print(s[0:7:2])

hlow

In [11]:
print(s[0:6:-1])

In [18]:
print(s[6:0:-1])

w olle

In [13]:
# Negative indexing
s = 'hello world'
print(s[6:0:-2])

wol

In [14]:
print(s[::-1])

dlrow olleh

In [19]:
print(s[-5:])

world

In [21]:
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [23]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [24]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [26]:
s = 'hello world'
del s[-1:-5:-2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings
- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

### i) Arithmetic Operations

In [27]:
print('delhi' + 'mumbai')
print('delhi' + ' ' + 'mumbai')

delhimumbai
delhi mumbai

In [28]:
print('delhi '*5)

delhi delhi delhi delhi delhi

In [29]:
print('*'*60)

************************************************************

### ii) Relational Operations

In [30]:
'delhi' == 'mumbai'
'delhi' != 'mumbai'

True

In [32]:
'mumbai' > 'pune'
# lexiographically compare

False

In [33]:
'Pune' > 'pune'

False

### iii) Logical Operations

In [34]:
'hello' and 'world'

'world'

In [35]:
'hello' or 'world'

'hello'

In [36]:
'' and 'world'

''

In [37]:
'' or 'world'

'world'

In [39]:
not 'hello'

False

In [40]:
not ''

True

### iv) Loops operations

In [41]:
for i in 'hello' :
    print(i)

h
e
l
l
o

In [42]:
for i in 'hello' :
    print('pune')

pune
pune
pune
pune
pune

### v) Membership operations

In [43]:
'D' in 'Delhi'

True

In [44]:
'D' not in 'Delhi'

False

## Common functions
 - len
 - max
 - min
 - sorted

In [45]:
len('hello world')

11

In [46]:
max('hello world')

'w'

In [47]:
min('hello world')

' '

In [48]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [50]:
sorted('hello world',reverse = True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize() / Title() / Upper() / Lower() / Swapcase()

In [68]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [52]:
s.title()

'Hello World'

In [53]:
s.upper()

'HELLO WORLD'

In [54]:
s.lower()

'hello world'

In [55]:
'HeLlO wOrLd'.swapcase()

'hElLo WoRlD'

## Count() /Find() /Index()

In [56]:
'my name is yash'.count('a')

2

In [58]:
'my name is yash'.find('is')

-1

In [59]:
'my name is yash'.find('x')

-1

In [60]:
'my name is yash'.index('is')

8

In [61]:
'my name is yash'.index('x')

ValueError: substring not found

## endswith() / startswith()

In [62]:
'my name is yash'.endswith('sh')

True

In [63]:
'my name is yash'.endswith('sho')

False

In [64]:
'my name is yash'.startswith('my')

True

## format()

In [66]:
name = 'yash'
gender = 'male'

'Hi my name is {} and I am a {}'.format(gender,name)

'Hi my name is male and I am a yash'

In [67]:
'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is yash and I am a male'

## isalnum() / isalpha() / isdigit() / isidentifier()

In [69]:
'yash1234'.isalnum()
# alphabetNumeric

True

In [70]:
'yash1234%'.isalnum()

False

In [72]:
'yash1234'.isalpha()

False

In [73]:
'yash'.isalpha()

True

In [75]:
'123'.isdigit()

True

In [76]:
'123abc'.isdigit()

False

In [77]:
'1name'.isidentifier()

False

In [78]:
'name1'.isidentifier()

True

## Split() / Join()

In [79]:
'Hi my name is yash'.split()

['Hi', 'my', 'name', 'is', 'yash']

In [80]:
'Hi my name is yash'.split('i')

['H', ' my name ', 's yash']

In [81]:
'Hi my name is yash'.split('is')

['Hi my name ', ' yash']

In [82]:
"-".join(['Hi', 'my', 'name', 'is', 'yash'])

'Hi-my-name-is-yash'

## Replace()

In [83]:
'hi my name is yash'.replace('yash','garg')

'hi my name is garg'

## Strip()

In [85]:
'yash                  '.strip()

'yash'

# Program
## Find the length of a given string without using the len() function

In [1]:
s = input('enter a string = ')

counter = 0
for i in s:
    counter += 1
    
print('length of string is :',counter)

enter a string = hello world
length of string is : 11

# Program
## 1) Extract username from a given email. 
## 2) Eg if the email is yash1234@gmail.com 
## 3) then the username should be yash1234

In [5]:
email = 'yash1234@gmail.com'

pos = email.index('@')
print(email[0:pos])

yash1234

# Program
## 1) Count the frequency of a particular character in a provided string. 
## 2) Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [6]:
s = input('enter the string = ')
term = input('what would like to search for = ')

counter = 0
for i in s:
    if i == term:
        counter += 1
        
print('frequency :',counter)

enter the string = hello how are you
what would like to search for = h
frequency : 2

# Program
## Write a program which can remove a particular character from a string.

In [7]:
s = input('enter the string = ')
term = input('what would like to remove for = ')

result = ''

for i in s:
    if i != term:
        result += i
        
print(result)

enter the string = yash
what would like to remove for = a
ysh

# Program
## Write a program that can check whether a given string is palindrome or not.

In [8]:
s = input('enter the string = ')

flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)  - i - 1]:
        flag = False
        print('Palindrome')
        break
        
if flag:
    print('Palindrome')

enter the string = racecar
Palindrome

# Program
## # Write a program to count the number of words in a string without split()

In [10]:
s = input('enter the string = ')

temp = ''
L = []
for i in s:
    if i != ' ':
        temp += i
    else :
        L.append(temp)
        temp = ''
        
print(L)

L.append(temp)
print(L)

enter the string = hello how are you
['hello', 'how', 'are']
['hello', 'how', 'are', 'you']

# Program
## Write a python program to convert a string to title case without using the title()

In [11]:
s = input('enter the string = ')

L = []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
    
print(L)
print(" ".join(L))

enter the string = hi how are you
['Hi', 'How', 'Are', 'You']
Hi How Are You

# Program
## Write a program that can convert an integer to string.

In [12]:
number = int(input('enter the number = '))

digits = '0123456789'
result = ''
while number != 0:
    result = digits[number % 10] + result
    number //= 10
    
print(result)
print(type(result))

enter the number = 6579
6579
<class 'str'>

# *******************************************************************************************

# Task 1
## Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [1]:
n = int(input('enter the number = '))

binary = []
while n > 0:
    binary.append(n % 2)
    n //= 2
    
for i in binary[::-1]:
    print(i,end='')

enter the number = 17
10001

# Task 2
## Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [2]:
x = int(input('enter 1st number = '))
y = int(input('enter 2nd number = '))

# LCM
if x > y:
    greater = x
else:
    greater = y
    
while True:
    if (greater % x == 0) and (greater % y == 0):
        lcm = greater
        break
        
    greater += 1
    
print('LCM :',lcm)
    
# HCF
if x < y:
    smaller = x
else:
    smaller = y
    
for i in range(smaller,0,-1):
    if (x % i == 0) and (y % i == 0):
        hcf = i
        break

print('HCF :',hcf)

enter 1st number = 15
enter 2nd number = 20
LCM : 60
HCF : 5

# Task 3
## Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Lage Raho Munna Bhai
```

`Output:`
```
LRMB
```

In [3]:
inp = 'Lage Raho Munna Bhai'
res = ''

for i in inp.split():
    res = res + i[0].upper()

print(res)

LRMB

# Task 4
## Append second string in the middle of first string

`Input:`
```
innovative
data
```
`Output`:

```
innovdataative
```

In [4]:
s1 = input('enter the 1st string = ')
s2 = input('enter the 2nd string = ')

print(s1[0:len(s1)//2] + s2 + s1[len(s1)//2:])

enter the 1st string = innovative
enter the 2nd string = data
innovdataative

# Task 5
## Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [5]:
s = 'PyNaTive'

upper = ''
lower = ''

for i in s:
    if i.islower():
        lower += i
    upper += i
    
print(lower + upper)

yaivePyNaTive

# Task 6
## Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 3.14
```

In [6]:
s = 'hel123O4every093'

sum = 0
count = 0

for i in s:
    if i.isdigit():
        sum = sum + int(i)
        count += 1
        
print(sum/count)

3.142857142857143

# Task 7
## Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [7]:
s = 'I am 25 years and 10 months old'
res = ''

for i in s:
    if i.isdigit():
        res += i
        
print(res)

2510

# Task 8
## Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [8]:
s = input('enter the string = ')

if len(s)%2 == 0:
    s1 = s[0:len(s)//2]
    s2 = s[len(s)//2:]
else:
    s1 = s[0:len(s)//2]
    s2 = s[len(s)//2 + 1:]
    
if s1 == s2:
    print('symmetrical')
else:
    print('not symmetrical')

enter the string = madam
not symmetrical

# Task 9
## Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is yash
```

`Output:`

```bash
yash is name my
```

In [9]:
s = 'geeks quiz practice code'

L = []
for i in s.split():
    L.append(i)
    
L = L[::-1]
print(' '.join(L))

code practice quiz geeks

# Task 10
## Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

`Input:`

```bash
A = "apple banana mango" 
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [10]:
A = "apple banana mango"
B = "banana fruits mango orange"

L = []

for i in A.split():
    if i not in B:
        L.append(i)
        
for j in B.split():
    if j not in A:
        L.append(j)
        
print(L)

['apple', 'fruits', 'orange']

# Task 11
## Word location in String.

**Statement:** Find a location of a word in a given sentence.

`Input:`

**Sentence:** We can learn python programming language.

**word:** python

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [11]:
s = 'We can learn python programming language'
word = 'python'

pos = 0
for i in s.split():
    pos += 1
    if i == word:
        break
    
print(pos)

4

# Task 12
## Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [12]:
s = 'aaaabbbbbccccdddeeeeffff'

res = ''
for i in s:
    if i not in res:
        res += i
        
print(res)

abcdef